// footer
// Variables
@use './variables' as *;

footer {
    margin-top: 50px;
    background-color: $secondaryColor;
    .wrapper {
        display: flex;
        justify-content: center;
        a{
            color: $basicFontColor;
            text-decoration: underline;
        }
        a:hover {
            color: $primaryColor;
            transition: 200ms;
        }
    }
}