// Variables

// FONTS
$primaryFont: 'Comic Neue', cursive;

$secondaryFont: 'Bangers', cursive;

$tertiaryFont: 'Permanent Marker', cursive;

// colors
$primaryColor: brown;
$secondaryColor: #c8c9df;
$backgroundColor: #E6E6EA;

    // font color
    $basicFontColor: black;